nghttp3_check_header_value wrong documentation?

The documentation for **nghttp3**_check_header_value says:
returns nonzero if HTTP field value value of length len is valid according to [**RFC 7230 Section 3.2**]

The documentation for **nghttp2**_check_header_value says same thing:
Returns nonzero if HTTP header field value value of length len is valid according to http://tools.ietf.org/html/rfc7230#section-3.2

The documentation for both functions states that they validate the value according to RFC 7230.
However, in the source code, as far as I understand, these functions perform completely different checks.

The **nghttp3**_check_header_value documentation probably contains an error.

nghttp3_check_header_value is basically equivalent to nghttp2_check_header_value_rfc9113.
The difference between nghttp2_check_header_value and nghttp2_check_header_value_rfc9113 is whether OWS is allowed as prefix or suffix.
In general, a header value should not contain any leading whitespaces or trailing whitespaces.
RFC 9113 explicitly says that.  But it is too late to change the function behavior.
So I added the new function nghttp2_check_header_value_rfc9113.
nghttp3 has no such backward compatibility issue, so it does what RFC 9113 explicitly says.


@tatsuhiro-t 
Thank you very much for your reply! 
Can we definitively say that the `nghttp3_check_header_value` and `nghttp2_check_header_value_rfc9113` functions are 100% interchangeable?

You can verify that by reading the source code of both functions.


@tatsuhiro-t 
I read it, it looks the same. However, the AVX2 part seems unclear to me. That's the part that's causing me doubts.

AVX2 basically does the same thing.  It looks for the bad character and bail out if find any.


@tatsuhiro-t 
Many thanks!